<div class="brief">
  <div class="ui breadcrumb">
    <a class="section" href="/">首页</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="/about">关于我们</a>
  </div>
  <div class="topic detail">
    <ul>
      <li>关于磐霖</li>
      <li>我们的优势</li>
    </ul>
  </div>
</div>
<div class="reveal">
  <p>
  上海磐霖资产管理有限公司是专业的人民币私募股权投资基金（以下简称PE基金）的投资管理平台, 主要从事未上市企业的股权投资和投资后的资产管理。公司为中国证券投资基金业协会备案登记的私募股权基金管理人。迄今，公司已成功发起成立并管理了五期PE基金。公司连同其管理的PE基金合称磐霖资本。
  </p>
  <img src="/images/invest/1.jpg">
  <img src="/images/invest/2.jpg">
</div>