<tbody>
  <tr>
    <td><img src="/images/team/唐爱民.jpg" /></td>
    <td><img src="/images/team/张越.jpg" /></td>
    <td><img src="/images/team/李宇辉.jpg" /></td>
  </tr>
  <tr>
    <td><img src="/images/team/王利波.jpg" /></td>
    <td><img src="/images/team/薛孟军.jpg" /></td>
    <td><img src="/images/team/谭惠东.jpg" /></td>
  </tr>
</tbody>