<tbody>
  <tr>
    <td>
      <div class="member">
        <h4>唐爱民</h4>
        <p>磐霖资本合伙人</p>
      </div>
      <img src="/images/team/唐爱民.jpg" />
    </td>
    <td>
      <div class="member">
        <h4>张越</h4>
        <p>磐霖资本合伙人</p>
      </div>
      <img src="/images/team/张越.jpg" />
    </td>
    <td>
      <div class="member">
        <h4>李宇辉</h4>
        <p>磐霖资本主管合伙人<br>执行董事</p>
      </div>
      <img src="/images/team/李宇辉.jpg" />
    </td>
  </tr>
  <tr>
    <td>
      <div class="member">
        <h4>王利波</h4>
        <p>磐霖资本管理合伙人</p>
      </div>
      <img src="/images/team/王利波.jpg" />
    </td>
    <td>
      <div class="member">
        <h4>薛孟军</h4>
        <p>磐霖资本合伙人</p>
      </div>
      <img src="/images/team/薛孟军.jpg" />
    </td>
    <td>
      <div class="member">
        <h4>谭惠东</h4>
        <p>磐霖资本合伙人</p>
      </div>
      <img src="/images/team/谭惠东.jpg" />
    </td>
  </tr>
</tbody>