
@import "bower_components/semantic-ui/src/semantic.less";


body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.content {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-color: white;

  tr, td {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  td {
    vertical-align: top;
    height: 20rem;
    background-color: rgba(152,192,209,.7);
    color: white;
  }
}

header#header {
  height: 5rem;
}

nav#nav {
  width: 100%;
  background-color: rgba(133,25,16,.7);
  > .ui.menu {
    width: 960px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    > .item {
      border: none;
      border-radius: none;
      color: rgba(255,255,255,.9);
    }
  }
}

#main, #nav, #header {
  display: block;
  width: 960px;
  margin: 0 auto;
}

#main, #nav {
  margin-top: 1rem;
}


.slides {
  z-index: -99;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .slide:nth-child(1) {
    background-image: url("/images/bg-1.jpg");
    animation: slide1 20s linear infinite;
  }
  .slide:nth-child(2) {
    background-image: url("/images/bg-2.jpg");
    animation: slide2 20s linear infinite;
  }
  .slide:nth-child(3) {
    background-image: url("/images/bg-3.jpg");
    animation: slide3 20s linear infinite;
  }
}

@keyframes slide1 {
  0%        { left:     0; visibility: visible; }
  30%       { left:     0; visibility: visible; }
  33.33333% { left: -100%; visibility: visible; } 
  63.33333% { left: -100%; visibility: hidden;  }
  66.66666% { left:  100%; visibility: hidden;  }
  96.66666% { left:  100%; visibility: visible; }
  100%      { left:     0; visibility: visible; }
}

@keyframes slide2 {
  0%        { left:  100%; visibility: visible; }
  30%       { left:  100%; visibility: visible; }
  33.33333% { left:     0; visibility: visible; }
  63.33333% { left:     0; visibility: visible; }
  66.66666% { left: -100%; visibility: visible; }
  96.66666% { left: -100%; visibility: hidden;  }
  100%      { left:  100%; visibility: hidden;  }
}

@keyframes slide3 {
  0%        { left: -100%; visibility: hidden;  }
  30%       { left:  100%; visibility: hidden;  }
  33.33333% { left:  100%; visibility: visible; }
  63.33333% { left:  100%; visibility: visible; }
  66.66666% { left:     0; visibility: visible; }
  96.66666% { left:     0; visibility: visible; }
  100%      { left: -100%; visibility: visible; }
}





