@import "./import/variables.import.less";
@import "./import/global.import.less";
@import "./import/header.import.less";
@import "./import/content.import.less";
@import "./import/dialog.import.less";
@import "./import/carousel.import.less";
@import "./import/reveal.import.less";
@import "./import/background.import.less";
@import "./import/pages.import.less";

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


@sidebar-width: 160px;
.sidebar-layout {
  aside {
    float: left;
    padding-top: 2rem;
    width: @sidebar-width;
    display: inline-block;
  }

  main {
    display: block;
    padding-left: @sidebar-width;
  }
}

.sidebar-layout {
  position: relative;
}

#breadcrumb .ui.breadcrumb {
  margin: 1rem 0;
  a, .divider {
    color: @color-white;
  }
}

ul.brief  {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  font-family: @font-kaiti;
  li {
    border-bottom: 1px solid black;
    line-height: 2.5rem;
    padding: 0 .5rem;
    font-size: 1rem;
    color: black;
    a {
      color: black;
      font-family: @font-kaiti;
    }
    &:first-of-type {
      border-top: 1px solid black;
    }
  }
}

.content-wrapper {
  position: relative;
}