#background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -10;
}

.slides.home .slide {
  z-index: -999;
  background-position-x: center;
  &.homebg-1 {
    background-image: url("/images/主页1.jpg");
  }
  &.homebg-2 {
    background-image: url("/images/主页2.jpg");
  }
  &.homebg-3 {
    background-image: url("/images/主页3.jpg");
  }
  &.order-1, &.order-2 {
    left : 100%;
  }
}

.slides.team .slide {
  background-image: url("/images/核心团队.jpg");
}

.slides.about .slide {
  background-image: url("/images/关于我们.jpg");
}

.slides.invest .slide {
  background-image: url("/images/投资理念.jpg");
}

.slides.found .slide {
  background-image: url("/images/基金管理.jpg");
}

.slides.news .slide {
  background-image: url("/images/新闻.jpg");
}

.slides.cases .slide {
  background-image: url('/images/案例.jpg');
}

.slides.contact .slide {
  background-image: url('/images/联系.jpg');
}

.slides {
  z-index: -99;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;

    // transition: left .2s ease-in-out;

    &.split {
      left: 300px;
    }
  }
}

.slides.investment, .slides.about {
  white-space: nowrap;
  overflow: hidden;
  .slide {
    display: block;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: 50% 50%;
  }
  img {
    width: 100%;
  }
}