@sidebar-width: 160px;

#submenu ul {
  list-style: none;
  padding-left: 0;
  font-family: @font-title;

  li {
    border-bottom: 1px solid black;
    line-height: 35px;
    padding: 0 7px;
    color: black;

    a {
      color: black;
      font-family: @font-title;
    }

    &:first-of-type {
      border-top: 1px solid black;
    }
  }
}

input[type="search"] {
  width: 100px;
  padding: 2px 4px;
}