@sidebar-width: 160px;

.main {
  h3{
    font-size: 15px;
  }
  max-width: 800px;
  min-height: 350px;

  .pagination {
    text-align: right;

    .goto {
      display: inline-block;
    }
    
    .num {
      width: 30px;
      border: 1px solid #EEE;
    }
    .first, .prev, .next, .current, .last {
      color: #333;
      margin: 2px;
    }

    .disabled {
      color: #CCC;
    }
  }
  .collection {
    position: relative;
  }
}

.main.cases {
  padding: 0;
}

.main.news, .main.plan, .main.address, .main.hire {
  h3 {
    color: @color-main;
  }
  background-color: @color-white;
}

ul.news {
  padding-left: 0;
}

input[type="search"] {
  width: 100px;
  padding: 2px 4px;
}