

@sidebar-width: 160px;

html, body {
  height: 100%;
}

#body {
  position: absolute;
  top: 121px;
  bottom: 0;
  padding: 1rem 4rem 0 4rem;
  width: 100%;
  overflow: auto;
}

.sidebar-layout {
  aside {
    float: left;
    padding-top: 0;
    position : absolute;
    width: @sidebar-width;
    display: inline-block;
  }

  main {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width:1024px) {
  .sidebar-layout aside {
    display: none;
  }
}

@media (max-width:1200px) {

}

.sidebar-layout {
  position: relative;
}

#breadcrumb .ui.breadcrumb {
  margin: 1rem 0;
  a, .divider {
    color: @color-white;
    font-size: 12px;
  }
}

ul.brief  {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  font-family: @font-kaiti;
  li {
    border-bottom: 1px solid black;
    line-height: 2.5rem;
    padding: 0 .5rem;
    font-size: 16px;
    color: black;

    a {
      color: black;
      font-family: @font-kaiti;
    }
    &:first-of-type {
      border-top: 1px solid black;
    }
  }
}

.content-wrapper {
  position: relative;
}
.main-container {
  max-width: 750px;
  margin: 0 auto;
  background-color: rgba(255,255,255,.5);
  padding: 2rem 3rem;
  min-height: 350px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}
.main-container {
  h3{
    font-size: 15px;
  }
}

.main-container.address {
  h3 {
    color: @color-main;
  }
}

.main-container.hire {
  h3 {
    color: @color-main;
  }
}

.main-container.plan {
  h3 {
    color: @color-main;
  }
  .myplan {
    width: 300px;
    margin: 4rem auto;
  }
  .actions {
    margin: 2rem 0;
    text-align: center;
  }

  #upload, #cancel {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.7);
  }

  .email {
    color: black;
    font-family: Arial;
    font-size: 16px;
    text-decoration: underline;
  }

  #copy {
    font-size: 12px;
    color: rgba(0,0,0,.8);
    background-color: rgba(0,0,0,.2);
    padding: 3px 20px;
    outline : none;
    border : none;
    margin-left: 20px;
  }
}

.main-container.cases {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  .case-group {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }
}
