@charset "UTF-8";

.ui.modal.panlin {
  width: 100%;
  left: 0;
  margin: 0;
  border-radius: 0;

  .content {
    width: 960px;
    margin: 0 auto;
    position: relative;

    h4 {
      font-size: 15px;
      margin-bottom: .5rem;
      font-family: @font-heiti;
    }
    h5 {
      margin-top: .5rem;
      font-size: 13px;
      font-family: @font-title;
    }
    p {
      .content-font();
    }

    em {
      font-family: "楷体","楷体_GB2312";  
      font-weight: normal;
      font-style: normal;
    }
  }
}

.ui.dimmer.modals {
  background-color: rgba(0, 0, 0, 0.3);
}


.ui.modals {
  .dialog-close {
    position: absolute;;
    font-size : 30px;
    color: black;
    opacity: .3;
    right: 2rem;
    top : 2rem;
    padding: 0;
    line-height: 0;

    &:hover {
      opacity: .9;
    }
  }

  .case-preview {
    position: relative;
    .dialog-close {
      top : 0;
      right : 0;
    }
  }
}