#header {
  #panlin {
    display: inline-block;
    float: left;
  }

  .logo {
    display: inline-block;
    width: 144px;
    height: @header-height;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto @header-height;
  }

  .wrapper, .trigger {
    float: right;
  }

  .back {
    display: inline-block;
  }

  .back, .trigger { 
    font-size: 35px;
    padding: 8px;
    color: @color-main;
  }

  .wrapper {
    line-height: 30px;
    text-align: right;
  }

  // language links
  a {
    font-size: 13px;
    color: @color-main;
  }

  .divider {
    width: 10px;
    text-align: center;
    display: inline-block;
  }

  .slagon {
    font-family: @font-kaiti;
    font-size: 15px;
    margin: 0;

    .divider {
      color: @color-main;
    }
  }
}