@media (max-width:1024px) {
  #body {
    padding: 0 !important;
  }

  .company {
    width: 100%/3;
  }

  .founds {
    display: block !important;
    .found {
      display: inline-block !important;
      width: ~'calc(50% - 10px)';
      min-width: 100px !important;
      height: 165px;
      padding: 30px 10px;
    }
  }

  #nav {
    padding : 0 14px;
  }

  #breadcrumb {
    left : 28px;
  }
}

@media only screen and (max-width: 320px) {
  .topics {
    height : auto !important;
    // TODO: eliminate !important;
    .topic {
      display: block !important;
      width: auto !important;
      height: 280px !important;
      top: auto !important;
      left: auto !important;
      position: relative;
    }
  }
}

@media only screen and (max-width: 767px) {
  #breadcrumb {
    display: none !important;
  }
  .reveal {
    width: auto !important;
    margin: 0 !important;
    background-color: rgba(255,255,255,.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }
}

@media only screen and (max-width: 767px) and (orientation:portrait) {

  .slides.home .slide {
    background-position-x: center;
    background-size: cover;
    &.homebg-1 {
      background-image: url("/images/portrait/主页1.jpg");
    }
    &.homebg-2 {
      background-image: url("/images/portrait/主页2.jpg");
    }
    &.homebg-3 {
      background-image: url("/images/portrait/主页3.jpg");
    }
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  .slides.home .slide {
    background-position-x: center;
    background-size: cover;
    &.homebg-1 {
      background-image: url("/images/landscape/主页1.jpg");
    }
    &.homebg-2 {
      background-image: url("/images/landscape/主页2.jpg");
    }
    &.homebg-3 {
      background-image: url("/images/landscape/主页3.jpg");
    }
  }
}



/* phones */
@media only screen and (max-width: 767px) {
  .case-group {
    padding: 0 0;
    h4 {
      margin: 0 16px;
    }
  }

  .panlin.member {
    text-align: left;
    padding: 16px !important;
    background-color: rgba(255,255,255,.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;

    img {
      max-width: 120px;
    }

    .description {
      text-align: left;
    }
  }

  #copyright {
    display: none !important
  }

  .panlin.dialog {
    .content-body {
      padding: 60px 16px;
      display: block !important;
    }
    .description {
      display: block !important;
      padding: 0 !important;
    }
  }

  div.main {
    min-height: 200px;
    margin: 0;
    padding: 16px;
    word-wrap: break-word;
  }

  div.viewport {
    top: 88px;

    .reveal {
      min-height: 200px;
    }
  }
  
  ul.news {
    padding: 0;
  }

  .companys {
    padding: 0 16px;
    text-align: left;
    .company {
      width: 50%;
      max-width: 500px;
      padding: 4px !important;
    }

    .company-logo {
      padding: 7px;
      height: 110px !important;
      .logo {
        height: 70px !important;
        background-size: contain;
      }
      p {
        margin: 7px 0 0 0;
      }
    }
  }

  .content-column-left, .content-column-right {
    display: block !important;
    width: 100%;
    float: none;
    padding: 0;
  }

  #breadcrumb {
    display: none;
  }

  .vertical.pagination {
    display: none;  
  }

  #navigation {
    position: fixed;
    padding: 84px 16px 0 16px !important;
    left: 100% !important;
    height: 100% !important;
    width: 140px !important;
    transition: transform .4s ease-in-out;
    top: 0 !important;
    overflow: auto;

    a {
      text-align: left;
      display: block !important;
      line-height: 30px !important;;
      font-size: 20px !important;;
    }
  }

  .topics {
    width: auto;
    .topic {
      width: 50%;
      height: 300px;
    }
    .topic.topic-0 {
      top: 0;
      left: 0;
    }
    .topic.topic-1 {
      top: 0;
      left: 50%;
    }
    .topic.topic-2 {
      top: 300px;
      left: 0;
    }
    .topic.topic-3 {
      top: 300px;
      left: 50%;
    }
  }

  .revealbg {
    display: none !important;
  }

  .reveal {
    a.close {
      display: none !important;
    }
  }

  .teams {
    .person {
      box-sizing: content-box;
      width: 50%;
      margin: 10px 0;
      text-align: center;
      img {
        width: 95%;
      }
    }
  }

  input[type="search"] {
    display: none;
  }


  table.hire {
    width : 250px;
    margin: 0;
  }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  #navigation {
    padding-bottom: 50px;
  }
}
