@media (max-width:320px) {
  .founds .found {
    display: block;
  }
}

@media (max-width:1024px) {
  .brand.column {
    width: 31.3% !important;
  }

  .founds .found {
    min-width: 160px !important;
    height: 165px;
  }

  #nav {
    padding : 0 14px;
  }

  #breadcrumb {
    left : 28px;
  }

  .sidebar-layout aside {
    left : 28px;
  }

  .sidebar-layout.content {
    width: 800px;
    margin-left: 90px;
  }
}

@media only screen and (max-width: 320px) {
  .topics {
    height : auto !important;
    // TODO: eliminate !important;
    .topic {
      display: block !important;
      width: auto !important;
      height: 280px !important;
      top: auto !important;
      left: auto !important;
      position: relative;
    }
  }
}

@media only screen and (max-width: 767px) and (orientation:portrait) {

  .slides.home .slide {
    background-position-x: center;
    background-size: cover;
    &.homebg-1 {
      background-image: url("/images/mobile/portrait/主页1.jpg");
    }
    &.homebg-2 {
      background-image: url("/images/mobile/portrait/主页2.jpg");
    }
    &.homebg-3 {
      background-image: url("/images/mobile/portrait/主页3.jpg");
    }
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {

  .slides.home .slide {
    background-position-x: center;
    background-size: cover;
    &.homebg-1 {
      background-image: url("/images/mobile/landscape/主页1.jpg");
    }
    &.homebg-2 {
      background-image: url("/images/mobile/landscape/主页2.jpg");
    }
    &.homebg-3 {
      background-image: url("/images/mobile/landscape/主页3.jpg");
    }
  }
}

/* phones */
@media only screen and (max-width: 767px) {


  .case-group {
    padding: 0 0;
    box-sizing: border-box;
    h4 {
      margin: 0 16px;
    }
  }

  .panlin.member {
    text-align: left;
    padding: 16px !important;
    background-color: rgba(255,255,255,.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;

    img {
      max-width: 120px;
    }

    .description {
      text-align: left;
    }
  }

  #dimmer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(0,0,0,.3);
  }

  #copyright {
    display: none !important
  }

  #main .reveal.active {
    padding: 16px !important;
    background-color: rgba(255,255,255,.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }

  .panlin.dialog {
    .content-body {
      padding: 60px 16px;
      display: block !important;
    }
    .description {
      display: block !important;
      padding: 0 !important;
    }

  }

  .sidebar-layout.content {
    margin: 0;
    width: auto !important;
  }

  .page {
    padding-bottom: 52px;
  }

  div.main-container {
    min-height: 200px;
  }
  .main-container.news {
    padding: 16px;
    word-wrap: break-word;
  }
  .main-container.hire {
    padding: 16px;
  }
  .main-container.address {
    padding: 16px;
  }
  .main-container.plan {
    padding: 16px;
  }
  
  ul.news {
    padding: 0;
  }

  .brands {
    padding: 0 16px;
    text-align: left;
    .brand {
      width: calc(50% - 3px) !important;
      max-width: 500px;
      padding: 4px !important;
    }

    .brand-logo {
      padding: 7px;
      height: 110px !important;
      .logo {
        height: 70px !important;
        background-size: contain;
      }
      p {
        margin: 7px 0 0 0;
      }
    }
  }

  .content-column-left, .content-column-right {
    display: block !important;
    width: 100%;
    float: none;
    padding: 0;
  }

  div#submenu {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: @color-main;
    ul {
      display: table;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    li {
      text-align: center;
      display: table-cell;
      border: none;
      a {
        color: @color-white;
        font-size: 18px;
      }
    }
  }
  #header {
    padding-left: 16px;
    padding-right: 16px;
    background-position: 16px center;

    .wrapper {
      display: none;
    }

    .brand {
      position: absolute;
      right: 16px;
      top: 85px;
      pointer-events: none;
    }
  }

  .mobile.menu.trigger {
    display: inline-block;
    font-size: 35px;
    padding: 8px;
    color: @color-main;
  }

  .fixed-header {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.26);
    border-radius: 1px; // for iOS8 compatible reason
  }

  #breadcrumb {
    display: none;
  }

  .sidebar-layout {
    padding-top: 0;
  }

  .vertical.pagination {
    display: none;  
  }

  #navigation {
    position: fixed;
    padding: 84px 16px 0 16px !important;
    left: 100%;
    height: 100%;
    width: 140px !important;
    transition: transform .4s ease-in-out;
    top: 0 !important;
    z-index: 1000;
    overflow: auto;

    a {
      text-align: left;
      display: block !important;
      line-height: 30px !important;;
      font-size: 20px !important;;
    }
  }

  #navigation, #submenu, .fixed-header, .page {
    transition: transform .4s ease-in-out;
  }

  body.push {
    #navigation, #submenu, .fixed-header, .page {
      transform: translateX(-140px);
    }

    #dimmer {
      display: block;
    }
  }

  .page #body {
    padding: 0 0;
  }

  .topics {
    width: auto;
    .topic {
      width: 50%;
      height: 300px;
    }
    .topic.topic-0 {
      top: 0;
      left: 0;
    }
    .topic.topic-1 {
      top: 0;
      left: 50%;
    }
    .topic.topic-2 {
      top: 300px;
      left: 0;
    }
    .topic.topic-3 {
      top: 300px;
      left: 50%;
    }
  }

  .revealbg {
    display: none !important;
  }

  #main .reveal {
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
    a.close {
      display: none !important;
    }
  }
  .teams {
    .person {
      box-sizing: content-box;
      width: 50%;
      margin: 10px 0;
      text-align: center;
      img {
        width: 95%;
      }
    }
  }

  input[type="search"] {
    display: none;
  }


  table.hire {
    width : 250px;
    margin: 0;
  }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .fixed-header {
    height: 84px;
  }
  .fixed-header #header .brand {
    display: none !important;
  }
  .page {
    top: 90px !important;
    position: relative;
  }
  #navigation {
    padding-bottom: 50px;
  }
}
