.pagination {
  position: fixed;
  width: 50px;
  text-align : center;

  a {
    display: block;
    font-size: 30px;
    color : #e8e8e8;
    &:hover {
      color : #DDD;
    }
  }
}

.teams + .pagination {
  top : 580px;
  left : ~'calc(50% + 300px)';
}

.main-container + .pagination {
  top : 480px;
  left : ~'calc(50% + 480px)';
}