.reveal {
  transition: opacity .5s ease-in-out .35s;
  width: @reveal-width;
  opacity: 0;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
          overflow-scrolling: touch;

  h2 {
    color : @color-main;
    font-family: @font-title;
    margin-bottom: 7px;
    font-size: 15px;
  }

  h3 {
    padding-top: 7px;
    padding-right: 24px;
    display: inline-block;
    color : black;
    font-family: @font-heiti;
    margin-top: 0;
    margin-bottom: 4px;
    position: relative;
    font-size: 13px;
  }

  p {
    margin-bottom: 14px;
    .content-font();
  }

  a.close {
    display: block;
    font-size: 13px;
    color: black;
    margin-top: 42px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.revealbg {
  position: absolute;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  transition: all .2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 2px inset;

  &.active {
    width: @reveal-width;
    background-color: rgba(255,255,255,.8);
  }
}