@color-highlight: rgba(211,166,70, .7);
@color-white: rgba(255,255,255,.9);
@color-background: rgba(152,192,209,.25);
@color-main: rgba(133,25,16,.7);
@font-kaiti: KaiTi, STKaiTi, "楷体", "楷体_GB2312", YaHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-lishu: "隶书", SimLi, YaHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-heiti : Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
@color-stamp: #77181D;

@content-width: 750px;

.content-font() {
  color: rgba(0,0,0,.9);
  font-size: .9rem;
  line-height: 21px;
}