#body .cases {
  max-width: 900px;

  section.case-group {
    background-color: white;
    opacity: .65;
    user-select : none;
    margin: 1rem 0;
    padding: 15px 25px;
    h4 {
      line-height: 20px;
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  .brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap : wrap;
  }

  .brand {
    cursor: pointer;
    width: 24%;
    margin: 10px 0 40px 0;
    height : 125px;
    border : 1px solid rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:after {
      content : attr(company);
      position: absolute;
      width: 100%;
      left : 0;
      text-align: center;
      bottom: -23px;
      font-size: 13px;
      color: rgba(0,0,0,.8);
    }
  }
}

.content .case-preview {
  width: 600px;
  margin: 0 auto;

  h4, a {
    color: @color-main;
  }

  p {
    margin-top: 1rem;
  }

  h4 {
    margin: .5rem 0 .1rem 0;
  }
}


.main-container.cases {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  .case-group {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }
}
