#body .cases {
  max-width: 900px;

  section.case-group {
    background-color: white;
    user-select : none;
    margin: 1rem 0;
    padding: 15px 25px;
    h4 {
      line-height: 20px;
      font-size: 15px;
      margin-bottom: 0;
    }
  }

  .brands {
    display: block;
  }

  .brand {
    cursor: pointer;
    margin: 10px 0px 5px 0px;
    text-align: center;
  }

  .brand-logo {
    height : 125px;
    border : 1px solid rgba(0,0,0,.4);
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
  }
}

.content .case-preview {
  width: 600px;
  margin: 0 auto;

  h4, a {
    color: @color-main;
  }

  p {
    margin-top: 1rem;
  }

  h4 {
    margin: .5rem 0 .1rem 0;
  }
}


.main-container.cases {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  .case-group {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }
}
