.founds {
  max-width: 960px;
  margin: 0 auto;

  .found {
    display: inline-block;

    h3, h4 {
      font-family: @font-title;
      color: @color-main;
      font-size:15px;
      margin-top: 0;
    }

    h3 {
      margin-bottom: 4px;
    }

    .inner {
      background-color: @color-background;
      position: relative;
      cursor: pointer;
    }
  }
}


.content-column-left {
  width: 35%;
}

table.content-column-left {
  td {
    vertical-align: top;
    line-height: 20px;
  }
  tr, td:first-child {
    width: 80px;
  }
}

.content-column-left, .content-column-right {
  position: relative;
  display: inline-block;
  float: left;
  clear: right;
  padding-bottom: 14px;
}

.content-column-right {
  width: 65%;
  padding-left: 28px;
}

table.chart.distribution {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  
  tr.bar {
    height: 40px;
    color: @color-white;
  }
  tr.caption {
    height: 20px;
    font-size: 11px;
    vertical-align: middle;
  }
}

