.found {
  h3 {
    font-family: @font-title;
    color: @color-main;
    margin-bottom: .3rem;
    margin-top: 0;
	  font-size:15px;
  }

  h4 {
    margin-top: 0;
    color: @color-main;
    font-family: @font-heiti;
    font-size: 15px;
  }

}

.founds {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content : center;

  .found {
    display: inline-block;
    margin: 5px;
    padding: 2.5rem 1rem;
    min-width: 220px;
    height: 240px;
    background-color: @color-background;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    cursor: pointer;
    flex-grow : 1;
    
    &:active, &:focus {
      border: none;
      box-shadow: none;
    }
  }
}


.content-column-left {
  width: 35%;
}

table.content-column-left {
  td {
    vertical-align: top;
    line-height: 1.5rem;
  }
  tr > td:nth-child(1) {
    width: 80px;
  }
}

.content-column-left, .content-column-right {
  position: relative;
  display: inline-block;
  float: left;
  clear: right;
  box-sizing: border-box;
  padding-bottom: 14px;
}

.content-column-right {
  width: 65%;
  padding-left: 2rem;
}

table.chart.distribution {
  text-align: center;
  width: 100%;
  tr:nth-child(1) {
    height: 40px;
    color: @color-white;
  }
  tr:nth-child(2) td{
    height: 20px;
    font-size: 11px;
    vertical-align: middle;
  }
}

