ul.news {
  list-style: none;
  li {
    margin: 10px 0 20px 0;
  }

  h4 a {
    color: @color-main;
  }

  p {
    color: #333;
  }

}

.news .detail {
  h3 {
    text-align: center;
    color: @color-main;
    font-size: 21px;
  }
  h4 {
    text-align: center;
    font-weight: normal;
  }
  .count {
    color: @color-main;
  }
}

.input.searchnews {
  input[type="search"] {
    font-size: 11px;
    width: 80px;
  }
}