<div id="panlin">
{{#if home }}
<div class="logo"></div>
{{else}}
<a class="back" href="#"><i class="fa fa-chevron-left"></i></a>
{{/if}}
</div>
<div class="wrapper">
  <a href="#" class="lang" data-lang="zh">简体中文</a>
  <span class="divider">|</span>
  <a href="#" class="lang" data-lang="en">English</a>
  <p class="slagon">稳如磐石<span class="divider">•</span>共沐甘霖</p>
</div>
<a class="mobile menu trigger"><i class="fa fa-bars"></i></a>