<ul class="news">
</ul>
<div class="pagination">
  <a href="#" class="prev">上一页</a>
  <a href="#" class="next">下一页</a>
  <span class="current">第<input type="text" />页</span>
  <a href="#" class="last">尾页</a>
</div>
<div class="vertical pagination">
  <a href="#" class="scroll up"><i class="fa fa-chevron-circle-up"></i></a>
  <a href="#" class="scroll down"><i class="fa fa-chevron-circle-down"></i></a>
</div>
