<div class="brief">
  <div class="ui breadcrumb">
    <a class="section" href="/">首页</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="/cases">投资案例</a>
  </div>
  <div class="topic detail">
    <ul>
      <li>投资案例</li>
      <li>重点案例</li>
    </ul>
  </div>
</div>
<div class="cases"></div>