<div class="brief">
  <div class="topic detail">
    <ul>
      <li>投资案例</li>
      <li>重点案例</li>
    </ul>
  </div>
</div>
<div class="cases">
  <div class="case">
    <img src="/images/cases/1.png">
  </div>
  <div class="case">
    <img src="/images/cases/2.png">
  </div>
  <div class="case">
    <img src="/images/cases/3.png">
  </div>
  <div class="case">
    <img src="/images/cases/4.png">
  </div>
  <div class="case">
    <img src="/images/cases/5.png">
  </div>
  <div class="case">
    <img src="/images/cases/6.png">
  </div>
  <div class="case">
    <img src="/images/cases/7.png">
  </div>
</div>