<div class="content">
  <img class="ui medium left floated image" src="{{ brand }}" />
  <div class="description">
    <h4 class="ui header">{{ title }}</h4>
    <h5 class="ui sub header">{{website}}</h5>
    <p>{{ descriptions }}</p>
  </div>
</div>
