<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:declarations, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:declarations, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:declarations, :edit, :id => @declaration.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :declaration, url(:declarations, :update, :id => @declaration.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'declarations/form', :locals => { :f => f } %>
  <% end %>
</div>
