@import "./import/variables.import.less";

@ie-color-highlight: rgb(211,166,70);
@ie-color-main: rgb(133,25,16);
@ie-color-highlight: rgb(211,166,70);
@ie-color-background: rgb(152,192,209);


// rgba(133,25,16,.7)
@ie-main-color-png : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNolRTYBAADNgFhdT7p9AAAAABJRU5ErkJggg==);
// rgba(152,192,209,.35)
@ie-bg-color-png : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOYceCiDwAGkwJ2G8VpIQAAAABJRU5ErkJggg==);
// rgba(255,255,255,.2)
@ie-bg-copyright : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4bw8AAkABP9Dd9wQAAAAASUVORK5CYII=);
// rgba(255,255,255,.8)
@ie-bg-reveal : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4fwYAAs0BzF1VEXcAAAAASUVORK5CYII=);
// rgba(255,255,255,.9)  
@ie-bg-main : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4/xQAAuYB5e33aXgAAAAASUVORK5CYII=);

a {
  color: @ie-color-main;
}

#dimmer, #header, #navigation, #breadcrumb {
  position: fixed;
  width: 100%;
  left: 0;
}


#submenu ul {
  font-family: @font-title;

  &:first-child {
    border-top: 1px solid black;
  }

  li {
    border-bottom: 1px solid black;
    line-height: 35px;
    padding: 0 7px;
    color: black;

    a {
      color: black;
      font-family: @font-title;
    }
    &.search {
      border: none;
    }
  }
}

#header {
  top: 0;
  padding: @base-size 5*@base-size @base-size 4*@base-size;

  .trigger {
    display: none;
  }
}

.person img {
  border: none;
}

#navigation {
  top: 88px;
  padding: 0 4*@base-size;
}

#breadcrumb {
  top: 120px;
  padding-left: 4*@base-size;
}

#submenu {
  position: fixed;
  top: 180px;
  left: 4*@base-size;
  z-index: 1;
}

#body {
  padding: @base-size 4*@base-size;
}

#body .cases {
  max-width: 900px;
}

.viewport {
  top: 130px;
}

.company {
  width: 100%/4;
  display: inline-block;
}

.founds .found {
  width: 100%/3;
  float:left;
  padding: 5px;

  .inner {
    padding: 30px 10px;
    height: 240px;

    background-image: @ie-bg-color-png;
  }
}

.founds .found {
  // IE8 compatible
  &.found-0, &.found-1, &.found-2, &.found-3 {
    width: 100%/4;
  }
}

.reveal {
  padding : @base-size 2*@base-size;
  margin-left: @submenu-width;
}
.revealbg {
  left: 216px;
}

.main {
  margin: 0 auto;
  padding: 2*@base-size 3*@base-size;
}

.mobile {
  display: none;
}

#header {
  a {
    color: @ie-color-main;
  }
  .slagon .divider {
    color: @ie-color-main;
  }
}

#breadcrumb .breadcrumb {
  a, .divider {
    filter:~'glow(color="#3E3E3E",strength=5)';
  }
}

#navigation {
  background-image: @ie-main-color-png;
}

.topic .inner {
  background-image: @ie-bg-color-png;

  h2.header {
    color : @ie-color-main;
  }
  a, .content {
    visibility: hidden;
  }
}

.topic:hover .inner {
  background-image: @ie-main-color-png;
  h2.header {
    color : @ie-color-highlight;
  }

  a, .content {
    color : white;
    visibility: visible;
  }
}

.found {
  h3, h4 {
    color: @ie-color-main;
  }
}

#body {
  // IE doesn't support calc ...
  //min-height: calc(~"100% - "@footer-height); 
  min-height: 100%; 
}

#body .founds .found {
  min-width: 200px;
}

table.chart.distribution {
  tr.bar {
    color: white;
  }
}

.navigation {
  a {
    color : white;
    &:hover {
      color : @ie-color-highlight;
    } 
  }

  // additional empty link will be generated in IE8, ignore them
  a[href="#"] {
    display: none;
  }
}

#copyright {
  background-image: @ie-bg-copyright;
  a {
    color: @ie-color-main;
  }
}

.content-body, .news .detail {
  a {
    color : @ie-color-main;
  }
}

.main.news {
  background: @ie-bg-main;
}

.main.address, .main.hire, .main.plan {
  background-image: @ie-bg-main;
  h3 {
    color: @ie-color-main;
  }
}

.revealbg.active {
  background-image: @ie-bg-reveal;
}