@ie-color-highlight: rgb(211,166,70);
@ie-color-main: rgb(133,25,16);
@ie-color-highlight: rgb(211,166,70);
@ie-color-background: rgb(152,192,209);



// rgba(133,25,16,.7)
@ie-main-color-png : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNolRTYBAADNgFhdT7p9AAAAABJRU5ErkJggg==);
// rgba(152,192,209,.25)
@ie-bg-color-png : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOYceDiJgAG+QLcDC5MpgAAAABJRU5ErkJggg==);

.fixed-header {
  a {
    color: @ie-color-main;
  }
  nav {
    background-image: @ie-main-color-png;
  }
}

.topic .inner {
  background-image: @ie-bg-color-png;

  h2.header {
    color : @ie-color-main;
  }
  a, .content {
    visibility: hidden;
  }
}

.topic:hover .inner {
  background-image: @ie-main-color-png;
  h2.header {
    color : @ie-color-highlight;
  }

  a, .content {
    color : white;
    visibility: visible;
  }
}

.navigation {
  a {
    color : white;
    &:hover {
      color : @ie-color-highlight;
    } 
  }

  // additional empty link will be generated in IE8, ignore them
  a[href=""] {
    display: none;
  }
}

#copyright {
  a {
    color: @ie-color-main;
  }
}



.content-body, .news .detail {
  a {
    color : @ie-color-main;
  }
}

.revealbg.active {
  background-color: white;
}