@ie-color-highlight: rgb(211,166,70);
@ie-color-main: rgb(133,25,16);
@ie-color-highlight: rgb(211,166,70);
@ie-color-background: rgb(152,192,209);

.fixed-header {
  a {
    color: @ie-color-main;
  }
  nav {
    background-color: @ie-color-main;
  }
}

.topic .inner {
  background-color: @ie-color-background;

  h2.header {
    color : @ie-color-main;
  }
  a, .content {
    color : @ie-color-background;
  }
}

.topic:hover .inner {
  background-color: @ie-color-main;
  h2.header {
    color : @ie-color-highlight;
  }

  a, .content {
    color : white;
  }
}

.navigation {
  a {
    color : white;
    &:hover {
      color : @ie-color-highlight;
    } 
  }

  // additional empty link will be generated in IE8, ignore them
  a[href=""] {
    display: none;
  }
}

#copyright {
  a {
    color: @ie-color-main;
  }
}



.content-body, .news .detail {
  a {
    color : @ie-color-main;
  }
}

.revealbg.active {
  background-color: white;
}