@charset "UTF-8";

@import "./import/variables.import.less";

// reset base style
@import "./import/fonts.import.less";
@import "./import/base.import.less";

// region styles
@import "./import/header.import.less";
@import "./import/navigation.import.less";
@import "./import/breadcrumb.import.less";
@import "./import/pagination.import.less";

@import "./import/content.import.less";
@import "./import/reveal.import.less";
@import "./import/pages.import.less";

@import "./import/dialog.import.less";
@import "./import/background.import.less";

@import "./import/mobile.import.less";

#header {
  padding: @base-size 70px @base-size 56px;
  display: block;
  z-index: 100;
}

#navigation {
  padding: 0 56px;
  display: block;
  z-index: 1000;
}

#breadcrumb {
  padding-left: 56px;
  display: block;
  z-index: 100;
}

#submenu {
  position: fixed;
  top: 180px;
  left: 56px;
  z-index: 500;
}

#content {
  padding: @base-size;
}

#body {
  padding: @base-size 56px;
  min-height: 100%;
}

#copyright {
  line-height: 40px;
  text-align: right;
  display: block;
  background-color: rgba(255,255,255,.2);
  padding: 0 28px;
}

#dimmer, .mobile {
  display: none;
}

.main {
  h3{
    font-size: 15px;
  }

  margin-left: 120px;
  max-width: 750px;
  margin: 0 auto;
  padding: 28px 42px;
  min-height: 350px;
  background-color: rgba(255,255,255,.5);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.main.cases {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.main.address, .main.hire {
  h3 {
    color: @color-main;
  }
}

.main.teams {
  background-color: transparent;
  box-shadow: none;
}

.main {
  .pagination {
    text-align: right;

    .first, .prev, .next, .current, .last {
      color: #333;
      margin: 2px;
    }

    .disabled {
      color: #CCC;
    }
  }
  .collection {
    position: relative;
  }
}

.main.news {
  background-color: white;
}

