<div class="main-container cases"></div>
<div class="vertical pagination">
  <a href="#" class="scroll up"><i class="chevron circle up icon"></i></a>
  <a href="#" class="scroll down"><i class="chevron circle down icon"></i></a>
</div>