<div class="main-container cases"></div>
<div class="vertical pagination">
  <a href="#" class="scroll up"><i class="fa fa-chevron-circle-up"></i></a>
  <a href="#" class="scroll down"><i class="fa fa-chevron-circle-down"></i></a>
</div>