{{#each items}}
<div class="topic topic-{{@index}}">
  <div class="inner">
    <h2 class="header">{{title}}</h2>
    <div class="content">{{{description}}}</div>
    <a href="#{{link}}" class="more"> + 更多</a>
  </div>
</div>
{{/each}}