<ul class="brief">
{{#each items}}
<li><a href="{{link}}">{{text}}</a></li>
{{/each}}
</ul>
<div class="ui left icon input small searchnews">
  <input type="text" placeholder="关键字检索">
  <i class="search icon"></i>
</div>