<h3>上海磐霖资产管理有限公司</h3>
<table class="address">
  <tr>
    <td>公司地址：</td>
    <td>
      （中建办公室）上海市浦东新区世纪大道1568号中建大厦1701室<br>
      <address><a target="_blank" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%96%E7%BA%AA%E5%A4%A7%E9%81%931568%E5%8F%B7%E4%B8%AD%E5%BB%BA%E5%A4%A7%E5%8E%A61701%E5%AE%A4">查看位置</a></address>
      （长泰办公室）上海市浦东新区世纪大道1589号长泰国际金融大厦1908室
      <address><a target="_blank" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%96%E7%BA%AA%E5%A4%A7%E9%81%931589%E5%8F%B7%E9%95%BF%E6%B3%B0%E5%9B%BD%E9%99%85%E9%87%91%E8%9E%8D%E5%A4%A7%E5%8E%A61908%E5%AE%A4">查看位置</a></address>
    </td>
    <td rowspan="5"></td>
  </tr>
  <tr>
    <td>邮编：</td>
    <td>200122</td>
  </tr>
  <tr>
    <td>电话：</td><td>021-61652500</td>
  </tr>
  <tr>
    <td>传真：</td><td>021-61652511</td>
  </tr>
  <tr>
    <td>电子邮件：</td>
    <td><a href="mailto:master@panlincap.com">master@panlincap.com</a></td>
  </tr>
</table>