<h3>行政助理</h3>
<h4>岗位职责：</h4>
<ol>
<li>负责公司电话接听与转接、会议室管理、访客接待；</li>
<li>负责信函、报刊、文件等的收发、整理、归档；</li>
<li>协助做好公司职员的差旅安排，包括酒店、票务等预订工作；</li>
<li>协助做好公司各类会议的筹备、活动的组织、协调和接待工作；</li>
<li>负责办公室日常办公设备的正常使用、办公用品采购计划制定及物品领取管理的登记和管理、供应商的协调等行政后勤保障工作；</li>
<li>负责日常资料和数据库的收集、整理和保管工作，负责PE行业新闻与被投公司新闻的搜集；</li>
<li>在行政主管的领导下，协助企业文化建设相关辅助工作；</li>
<li>在行政主管的领导下，配合公司业务部门进行其他后勤支持工作，资料整理、文件归档等。</li>
</ol>
 
<h4>任职资格：</h4>
<ol>
<li>28岁以下，女性；热爱行政工作、细心、耐心；</li>
<li>大专以上学历，行政管理、经济管理类专业；</li>
<li>有一年以上行政工作经验，具备基础行政管理知识、文秘管理知识；</li>
<li>熟练掌握word、excel、ppt、photoshop等办公软件；</li>
<li>工作态度积极主动、工作认真细致、责任心强，能够承受工作压力；</li>
<li>热爱金融行业，能高度自律，并能保持高效的工作状态，具有团队合作精神。</li>
</ol>