<h5>公司地址：</h5>
<h3>上海磐霖资产管理有限公司</h3>
<section>
  <p>公司地址：（中建办公室）上海市浦东新区世纪大道1568号中建大厦1701室</p>
  <address>查看位置</address>
  <p>（长泰办公室）上海市浦东新区世纪大道1589号长泰国际金融大厦1908室</p>
  <address>查看位置</address>
  <p>邮编：200122</p>
  <p>联系方式：</p>
  <p>电话：021-61652500</p>
  <p>传真：021-61652511</p>
  <p>电子邮件：<a href="mailto:master@panlincap.com">master@panlincap.com</a></p>
</section>