<h3>上海磐霖资产管理有限公司招聘启示</h3>
<p>上海磐霖资产管理有限公司是专业的人民币私募股权投资基金合伙企业(有限合伙)的管理平台，主要从事未上市企业的股权投资和投资后的资产管理。公司以“快乐投资，互信共赢，提升价值，促进上市”为核心投资理念，以助力中国民族经济的发展为己任，专注投资于成长阶段的中国民营企业。</p>
<p>在中国经济持续高速增长的背景下，我们坚信中国资本市场的未来属于具有核心竞争力并持续创造价值的专业团队，“磐霖”的未来属于与之创造价值的每一个人。</p>
<p>因此，我们设计了行业领先的合伙人制度、分配体系和发展机会，期待您的加入，共同创造“磐霖”的未来。</p>
<p>因业务发展需要，公司公开招聘如下岗位人员：</p>
<table class="hire">
  <thead>
    <th>招聘岗位</th>
    <th>时间</th>
  </thead>
  <tbody>
  <tr>
    <td>会计</td><td>2015/04/18</td>
  </tr>
  <tr>
    <td>行政助理</td><td>2015/04/18</td>
  </tr>
  </tbody>
</table>
<p>有意者请将个人简历、近期免冠一寸照及相关资格证书发送至：hr@panlincap.com 或邮寄至上海市浦东新区世纪大道1568号中建大厦1701室，邮编：200122。</p>
<p>凡适合条件者，我们将以电话方式通知面试。所有个人资料将列入公司人力资源库，恕不退还。谢谢。</p>
<p>联系人：孙小姐</p>