<h4>上海磐霖资产管理有限公司招聘启示</h4>
<p>
上海磐霖资产管理有限公司是专业的人民币私募股权投资基金合伙企业(有限合伙)的管理平台，主要从事未上市企业的股权投资和投资后的资产管理。 公司以“快乐投资，互信共赢，提升价值，促进上市”为核心投资理念，以助力中国民族经济的发展为己任，专注投资于成长阶段的中国民营企业。

在中国经济持续高速增长的背景下，我们坚信中国资本市场的未来属于具有核心竞争力并持续创造价值的专业团队，“磐霖”的未来属于与之创造价值的每一个人。

因此，我们设计了行业领先的合伙人制度、分配体系和发展机会，期待您的加入，共同创造“磐霖”的未来。
</p>