<div class="myplan">
  <h3>上传您的商业计划书至：</h3>

  <a href="mailto:master@panlincap.com">master@panlincap.com</a>
  <input type="button" value="点击复制" id="copy">

  <div class="actions">
    <input type="button" value="上传" id="upload">
    <input type="button" value="取消" id="cancel">
  </div>
</div>