<table class="content">
<tbody>
<tr>
<td rowspan="2" class="topic">
  <h2 class="ui header">关于磐霖</h2>
  <p class="ui content">
  上海磐霖资产管理有限公司是专业的人民币私募股权投资基金（以下简称PE基金）的投资管理平台, 主要从事未上市企业的股权投资和投资后的资产管理...
  </p>
  <a href="/about" class="more">+更多</a>
</td>


<td class="topic investment">
  <h2 class="ui header">投资理念</h2>
  <p class="ui content">
  核心投资理念 –- “快乐投资”<br>
  差异化投资模式 –- “专业创造价值”
  </p>
  <a href="/investment" class="more">+更多</a>
</td>


<td class="topic team">
  <h2 class="ui header">核心团队</h2>
  <p class="ui content">
  管理团队结构合理，<br>
  核心成员的能力资源相得益彰...
  </p>
  <a href="/team" class="more">+更多</a>
</td>
</tr>




<tr>
<td colspan="2" class="topic cases">
  <h2 class="ui header">投资案例</h2>
  <p class="ui content">
  我们既有已在创业板首批上市的成功投资案例，也有已经入股而预期在三年内上市的项目...
  </p>
  <a href="/cases" class="more">+更多</a>
</td>
</tr>
</tbody>
</table>