<table class="content" border="2" cellspacing="2">
  <tbody>
    <tr>
      <td rowspan="2">关于磐霖</td>
      <td>投资理念</td>
      <td>核心团队</td>
    </tr>
    <tr>
      <td colspan="2">成功案例</td>
    </tr>
  </tbody>
</table>