<div class="brief">
  <ul>
    <li>投资核心原则</li>
    <li>重点投资领域</li>
    <li>价值提升机制</li>
  </ul>
</div>
<div class="reveal">
  <h3>新兴产业</h3>
  <p>紧密贴合国家政策所长期支持的产业创新升级的大趋势，精选拥有扎实基础并具备做大做强DNA的创新性民企；</p>
  <h3>扎根价值</h3>
  <p>从企业的高成长性中寻求高回报</p>
  <h3>稳健交易</h3>
  <p>控制投资成本，注重投资组合，力保投资安全</p>
</div>