
<div class="ui pointing dropdown link item">
  <span class="text">关于我们</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">关于我们</a>
    <a href="#" class="item">特点/优势</a>
  </div>
</div>

<div class="ui pointing dropdown link item">
  <span class="text">投资理念</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">投资策略</a>
    <a href="#" class="item">投资理念</a>
    <a href="#" class="item">价值提升机制</a>
  </div>
</div>

<div class="ui pointing dropdown link item">
  <span class="text">核心团队</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">投资团队</a>
  </div>
</div>



<div class="ui pointing dropdown link item">
  <span class="text">基金管理</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">一期基金</a>
    <a href="#" class="item">二期基金</a>
    <a href="#" class="item">三期基金</a>
    <a href="#" class="item">四期基金</a>
    <a href="#" class="item">五期基金</a>
  </div>
</div>

<div class="ui pointing dropdown link item">
  <span class="text">投资组合</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">投资案例</a>
  </div>
</div>


<div class="ui pointing dropdown link item">
  <span class="text">新闻中心</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">公司新闻</a>
    <a href="#" class="item">被投公司新闻</a>
    <a href="#" class="item">关键字检索</a>
  </div>
</div>


<div class="ui pointing dropdown link item">
  <span class="text">联系我们</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">招贤纳士</a>
    <a href="#" class="item">联系我们</a>
    <a href="#" class="item">商业计划书</a>
    <a href="#" class="item">地图导航</a>
  </div>
</div>
