.fixed-header a {
  color: #851910;
}
.fixed-header nav {
  background-color: #851910;
}
.topic .inner {
  background-color: #98c0d1;
}
.topic .inner h2.header {
  color: #851910;
}
.topic .inner a,
.topic .inner .content {
  color: #98c0d1;
}
.topic:hover .inner {
  background-color: #851910;
}
.topic:hover .inner h2.header {
  color: #d3a646;
}
.topic:hover .inner a,
.topic:hover .inner .content {
  color: white;
}
.navigation a {
  color: white;
}
.navigation a:hover {
  color: #d3a646;
}
.navigation a[href=""] {
  display: none;
}
#copyright a {
  color: #851910;
}
.content-body a,
.news .detail a {
  color: #851910;
}
.revealbg.active {
  background-color: white;
}