a {
  color: #851910;
}
#dimmer,
#header,
#navigation,
#breadcrumb {
  position: fixed;
  width: 100%;
  left: 0;
}
#submenu ul {
  font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体";
}
#submenu ul li {
  border-bottom: 1px solid black;
  line-height: 35px;
  padding: 0 7px;
  color: black;
}
#submenu ul li a {
  color: black;
  font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体";
}
#submenu ul li:first-of-type {
  border-top: 1px solid black;
}
#header {
  top: 0;
  padding: 14px 70px 14px 56px;
}
#header .trigger {
  display: none;
}
#navigation {
  top: 88px;
  padding: 0 56px;
}
#breadcrumb {
  top: 120px;
  padding-left: 56px;
}
#submenu {
  position: fixed;
  top: 180px;
  left: 56px;
  z-index: 1;
}
#body {
  padding: 14px 56px;
}
#body .cases {
  max-width: 900px;
}
.viewport {
  top: 130px;
}
.company {
  width: 25%;
  display: inline-block;
}
.founds .found {
  width: 33.33333333%;
  float: left;
  padding: 5px;
}
.founds .found .inner {
  padding: 30px 10px;
  height: 240px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOYceCiDwAGkwJ2G8VpIQAAAABJRU5ErkJggg==);
}
.founds .found.found-0,
.founds .found.found-1,
.founds .found.found-2,
.founds .found.found-3 {
  width: 25%;
}
.reveal {
  padding: 14px 28px;
  margin-left: 160px;
}
.revealbg {
  left: 216px;
}
.main {
  margin: 0 auto;
  padding: 28px 42px;
}
.mobile {
  display: none;
}
#header a {
  color: #851910;
}
#header .slagon .divider {
  color: #851910;
}
#breadcrumb .breadcrumb a,
#breadcrumb .breadcrumb .divider {
  -webkit-filter: glow(color="#3E3E3E",strength=5);
          filter: glow(color="#3E3E3E",strength=5);
}
#navigation {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNolRTYBAADNgFhdT7p9AAAAABJRU5ErkJggg==);
}
.topic .inner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOYceCiDwAGkwJ2G8VpIQAAAABJRU5ErkJggg==);
}
.topic .inner h2.header {
  color: #851910;
}
.topic .inner a,
.topic .inner .content {
  visibility: hidden;
}
.topic:hover .inner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNolRTYBAADNgFhdT7p9AAAAABJRU5ErkJggg==);
}
.topic:hover .inner h2.header {
  color: #d3a646;
}
.topic:hover .inner a,
.topic:hover .inner .content {
  color: white;
  visibility: visible;
}
.found h3,
.found h4 {
  color: #851910;
}
#body .founds .found {
  min-width: 200px;
}
table.chart.distribution tr.bar {
  color: white;
}
.navigation a {
  color: white;
}
.navigation a:hover {
  color: #d3a646;
}
.navigation a[href="#"] {
  display: none;
}
#copyright {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4bw8AAkABP9Dd9wQAAAAASUVORK5CYII=);
}
#copyright a {
  color: #851910;
}
.content-body a,
.news .detail a {
  color: #851910;
}
.main.news {
  background-color: white;
}
.main.address,
.main.hire,
.main.plan {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4Xw8AAoABf5/NhYYAAAAASUVORK5CYII=);
}
.main.address h3,
.main.hire h3,
.main.plan h3 {
  color: #851910;
}
.revealbg.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4fwYAAs0BzF1VEXcAAAAASUVORK5CYII=);
}