<div class="content">
  <img class="ui medium left floated image" src="{{ avatar }}" />
  <div class="description">
    <h4 class="ui header">{{ name }}</h4>
    <h5 class="ui sub header">{{ title }}</h5>
    {{{ descriptions }}}
  </div>
</div>
