<div class="content">
  <img class="ui medium left floated image" src="{{ avatar }}" />
  <div class="description">
    <a href="#" class="dialog-close">&times;</a>
    <h4 class="ui header">{{ name }}</h4>
    <p>{{ title }}</p>
    {{{ descriptions }}}
  </div>
</div>
