.found {
  h3 {
    font-family: @font-kaiti;
    color: @color-main;
    margin-bottom: .3rem;
  }

  h4 {
    margin-top: 0;
    color: @color-main;
    font-family: @font-heiti;
  }
}

.founds {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;

  .found {
    display: inline-block;
    margin: 5px;
    padding: 2.5rem 1rem;
    width: 310px;
    height: 240px;
    background-color: @color-background;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    cursor: pointer;

    
    &:active, &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.content.found {
  column-count: 2;
}

table.chart.distribution {
  text-align: center;
  width: 600px;
  tr:nth-child(1) {
    height: 40px;
    color: @color-white;
  }
  tr:nth-child(2) td{
    height: 20px;
    font-size: 11px;
    vertical-align: middle;
  }
}

