#background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -10;
}


.slides {
  z-index: -99;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;

    transition: left .2s ease-in-out;

    &.split {
      left: 300px;
    }
  }
}

.slides.investment, .slides.about {
  white-space: nowrap;
  overflow: hidden;
  .slide {
    display: block;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: 50% 50%;
  }
  img {
    width: 100%;
  }
}