.teams {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
}

.person {
  display: inline-block;
  width: 180px;
  height: 240px;
  position: relative;
  margin: 10px;

  .member {
    width: 180px;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    background-color: transparent;
    padding: 1.5rem 1rem;
    box-sizing: border-box;

    h4 {
      color: @color-highlight;
      opacity: 0;
      font-size: 1.2rem;
    }

    p {
      color: white;
      opacity: 0;
    }

    article {
      display: none;
    }

    &:hover {
      background-color: @color-main;
      h4, p {
        transition: opacity, .2s ease-in-out .4s;
        opacity: 1;
      }
    }
  }
  img {
    width: 180px;
  }
}

.ui.modal.panlin {
  width: 100%;
  left: 0;
  margin: 0;
  border-radius: 0;

  .content {
    width: 960px;
    margin: 0 auto;

    h4 {
      color: @color-main;
      font-size: 1.5rem;
    }
    h5 {
      color: @color-main;
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }
}

