// iPad in portrait & landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  
  #header {
    padding: @base-size 3*@base-size @base-size 2*@base-size;
  }

  #submenu { }
  
  .viewport {
    top: 130px;
  }

  .founds .found {
    width: 100%/3;
    padding: 5px;
    float: left;

    .inner {
      padding: 30px 10px;
      height: 240px;
    }
  }

  .main {
    padding: 2*@base-size 3*@base-size;
  }
}

// iPad in landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {


  #breadcrumb {
    top: 120px;
    padding-left: 0;
  }

  #navigation {
    top: 88px;
    padding: 0 28px;
  }

  .trigger {
    display: none !important;
  }

  #submenu {
    top: 180px;
    left: 28px;
  }
  
  .panlin.dialog .dialog-body {
    max-width: 960px;
    padding : 28px;
    margin: 0 auto;
  }

  .founds .found {
    width: 100%/3;
  }

  .reveal {
    padding : @base-size 2*@base-size;
    margin-left: 220px;
  }
  .revealbg {
    left: 216px;
  }
  .mobile {
    display: none;
  }
  .viewport {
    margin-top: 2.5*@base-size;
  }

  .main {
    margin-left: @submenu-width;
  }
}


// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

  #header {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.26);
    .wrapper {
      display: none;
    }
  }

  #copyright {
    display: none;
  }

  .reveal {
    padding : @base-size;
    padding-bottom: 2*@base-size;
    width: auto !important;
    margin: 0 !important;
    background-color: rgba(255,255,255,.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }

  .revealbg {
    display: none;
  }

  #breadcrumb {
    top: 88px;
    padding-left: 0;
  }
  
  #navigation {
    position: fixed;
    padding: 84px 16px 0 16px;
    left: 100%;
    height: 100%;
    width: 140px;
    transition: transform .4s ease-in-out;
    top: 0;
    overflow: auto;

    a {
      text-align: left;
      display: block !important;
      line-height: 30px;;
      font-size: 20px;;
    }
  }
}


@media (max-width:1024px) {
  #body {
    padding: 0;
  }

  #body .cases {
    max-width: 800px;
  }

  .company {
    width: 100%/3;
    display: inline-block;
  }

  #nav {
    padding : 0 14px;
  }

  #breadcrumb {
    left : 28px;
  }
}