@media (min-width: 769px) {
  #submenu {
    position: fixed;
    top: 180px;
    left: 0
  }

  #navigation {
    top: 88px;
    padding: 0 4*@base-size;
  }

  #submenu ul {
    font-family: @font-title;
    li:first-child {
      border-top: 1px solid black;
    }
    li {
      border-bottom: 1px solid black;
      line-height: 35px;
      padding: 0 7px;
      color: black;
      &.search {
        border: none;
      }
    }
    a {
      color: black;
      font-family: @font-title;
    }
  }

  .reveal {
    padding : @base-size 2*@base-size;
    margin-left: @submenu-width;
  }
  .revealbg {
    left: @submenu-width + 4*@base-size;
  }

  .trigger {
    display: none;
  }

  html:lang(en) {
    .reveal {
      margin-left: @submenu-width-en;
    }
    .revealbg {
      left: @submenu-width-en + 4*@base-size;
    }
  }
}

@media (min-width:769px) and (max-width:1024px) {
  #submenu {
    left: 2*@base-size;
  }
  .main {
    margin-left: @submenu-width;
  }
  .reveal {
    margin-left: @submenu-width + 4*@base-size;
  }
  
  html:lang(en) {
    .reveal {
      margin-left: @submenu-width-en + 4*@base-size;
    }
  }
}

@media (min-width : 1200px) {
  #body .cases {
    max-width: 900px;
  }
}

@media (min-width : 1025px) {
  #dimmer, #header, #navigation, #breadcrumb {
    left: 0;
  }

  #submenu {
    left: 4*@base-size;
  }

  #header {
    top: 0;
    padding: @base-size 5*@base-size @base-size 4*@base-size;
  }

  #breadcrumb {
    top: 120px;
    padding-left: 4*@base-size;
  }


  #body {
    padding: @base-size 4*@base-size;
  }

  .viewport {
    top: 130px;
  }

  .company {
    width: 100%/4;
    display: inline-block;
  }

  .founds .found {
    width: 100%/3;
    // IE8 compatible
    &.found-0, &.found-1, &.found-2, &.found-3 {
      width: 100%/4;
    }
  }

  .main {
    margin: 0 auto;
    padding: 2*@base-size 3*@base-size;
  }

  .mobile {
    display: none;
  }
}


